<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Projects' css -->
    <link rel="stylesheet" href="media/styles.css">

    <title>{{ title }}</title>
  </head>
  <body>
    <!--TODO nav must sourced as partial -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Font Converter</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/current">Current</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/saved">Saved</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="/about">About</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="font-generator-container">
      <form class="font-generator-form">
        <div class="font-generator-source input-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile" aria-describedby="inputGroupFile">
            <label for="inputGroupFile" class="custom-file-label">Source font...</label>
          </div>
        </div>
        <p class="font-generator-conversion-options input-group">
          <label for="destination">Convert To: </label>
          <select class="custom-select" id="destination">
            <option selected>Choose Language</option>
            {{#conversionOptions}}
              <option value="{{value}}">{{ name }}</option>
            {{/conversionOptions}}
          </select>
        </p>
        <div class="font-generator-actions">
          <button type="button" class="btn btn-primary"> Generate </button>
          <button type="button" class="btn btn-dark"> Reset </button>
        </div>
        <div class="font-generator-images">
          <div class="font-generator-image-source">
            <span class="source-image-title"> Source Font: </span>
            <img class="source-image img-thumbnail" src="https://via.placeholder.com/200" alt="Source Font PNG" id="source-img">
          </div>
          <div class="font-generator-image-destination">
            <div>
              <span class="converted-image-title"> Converted Font: </span>
              <img class="converted-image img-thumbnail" src="https://via.placeholder.com/200" id="converted-img" alt="Converted Font PNG">
            </div>
            <div class="conversion-actions">
                <button type="button" class="btn btn-primary"> Save </button>
                <button type="button" class="btn btn-light"> Stylize </button>
                <button type="button" class="btn btn-dark"> Export </button>
            </div>
          </div>
        </div>
      </form>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="media/scripts.js"></script>
  </body>
</html>
